# Python
__pycache__/
*.py[cod]
*.pkl
*.npy
*.parquet
*.csv
*.zip
*.so
*.o
**.venv
**.DS_Store
# VS Code
.vscode/
manual_labeller.py
df_curr
inference_artifacts/**
experiments/**
datasets/**
old_stuff/**

# Ambiente
.env
